@media(max-width: 1399px){
    .hero-banner h1, .explore-section h1  {
        font-size: 60px;
}
@media(max-width: 1199px){
    .hero-banner-section {
        padding: 200px 0px;
    }
    .hero-banner h1, .explore-section h1 {
        font-size: 55px;
    }
    .hero-banner h1 {
        margin: 15px 0px;
    }
    .heading h1 {
        font-size: 28px;
    }
    .event .card-body h5 {
        font-size: 20px;
        margin: 5px;
    }
    .event .card-body p {
        font-size: 15px;
        margin-bottom: 7px;
    }
    .event .card-body a {
        font-size: 14px;
    }
    
}
@media(max-width: 991px){
    .navbar-nav {
        flex-direction: row;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px 20px;
    }
    .hero-banner h1, .explore-section h1 {
        font-size: 40px;
    }
    .hero-banner h3 {
        font-size: 22px;
    }
    .testimonial-section img {
        width: 65px;
    }
    .testimonial h3 {
        font-size: 17px;
    }
    .testimonial h2 {
        font-size: 14px;
    }
    
    .tours-section img.tour_img {
    height: 150px;
    }
}
@media(max-width: 767px){
    .navbar-nav{
        flex-direction: column;
       align-items: center;
    }
    
    .navbar-light .navbar-nav .nav-link {
        display: inline-block;
    }
    .hero-banner-section {
        padding: 100px 0px;
    }
    .hero-banner h1, .explore-section h1 {
        font-size: 30px;
    }
    .hero-banner h3 {
        font-size: 18px;
        font-weight: 400;
    }
    .btn-custom {
        padding: 6px 15px;
        font-size: 14px;
    }
    .testimonial-section {
        padding: 20px 0px;
        text-align: center;
    }
    .event {
        margin-bottom: 30px;
    }
    .explore-section {
        text-align: center;
    }
    .explore-section .line .tours-block .line{
        margin: auto;
    }
    .explore-section {
        padding: 65px 0px;
    }
    .tours-block{
        text-align: center;
        margin-bottom: 20px;
    }
}
@media(max-width: 575px){
    .hero-banner h1,
        font-size: 26px;
        margin: 12px;
    }
    .heading h1 {
        font-size: 20px;
    }
    .hero-banner h1, .explore-section h1 {
        font-size: 25px;
    }
    .explore-section .line {
        margin: auto;
    }
    .explore-section {
        padding: 50px 0px;
    }
    .Contact-section {
        padding: 16px;
    }
    .tours-section {
        padding: 60px 0px;
    }
    .tours-section {
        padding: 45px 0px;
    }
    .navbar-nav {
        background: #9493f5;
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
    }


}